<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK7CHBH3L3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-KK7CHBH3L3');
	</script>
</head>
{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ asset('js/tab.js') }}"></script>
	<script src="{{ asset('js/navbar.js') }}"></script>

{% endblock %}
<style></style>
{% block body %}
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container">
				<a class="navbar-brand" href="#"><img src="img/logo_IBEP.svg" style="height: 80px;" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 " alt="..."></a>
				<div class="d-flex">
					<a class="btn-primary" href="#form" >Obtenez plus de conseils pour booster votre carrière<span></span>
					</a>
				</div>
			</div>

		</nav>
		<section class="pt-5 pb-5 pt-md-11">
			<div class="container">
				<div class="row align-items-center">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">

						<!-- Image -->
						<img src="img/illustration_header.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

						<!-- Heading -->
						<h1 class="display-3 text-center text-md-start">
							Préparez votre <strong>avenir professionnel</strong> en toute confiance avec Prépa Projet.
						</h1>

						<!-- Text -->
						<p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
							Réinventez votre <strong>avenir professionnel</strong> grâce à notre <strong>accompagnement personnalisé</strong> pour les <strong>reconversions</strong> et les <strong>réorientations professionnelles</strong>.
						</p>

						<!-- Buttons -->
						<div class="text-center text-md-start">
							<a class="btn-primary" href="#form">Recevoir un accompagnement pour atteindre mes objectifs professionnels<span></span>
							</a>
						</div>
						<p class="my-4" style="text-transform: uppercase;">
						NOUS SOMMES LA POUR VOUS ACCOMPAGNER ET VOUS AIDER A ATTEINDRE VOS OBJECTIFS.
							<ul class="list">
								<li>Formation personnalisée et individualisée.</li>
								<li>Formation courte et adaptée à mes besoins.</li>
								<li>Formation professionnalisante avec des périodes de stage.</li>
							</ul>


						</p>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-auto col-sm-5 col-sm py-3">
						L’offre PRÉPA PROJET est proposée et financée par la Région Bretagne
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-auto">
						<img class="" style="width: 22.5rem; height: auto;  border-radius: 0;" src="img/logo_prepa_projet.png" alt="logo_prepa_projet">
					</div>
					<!-- End Col -->

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</body>
</section>
<section class="pt-5 pb-5 mt-5 mb-5 pt-md-11 green" style="background-color: #93b28e;">
	<div class="container">
		<div class="p-4 p-sm-10">
			<div class="ratio ratio-16x9">
				<iframe class="img-fluid rounded-2 shadow-xl" src="https://www.youtube.com/embed/KXju7qwhF8w?controls=0" title="Prépa Projet présentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container">
		<div class="row mb-4 mt-4 pb-4 pt-4">
			<div class="text-center col-12">
				<h2>Que retiennent nos anciens stagiaires de la Prépa Projet ?</h2>
				<p>Découvrez ce que nos anciens stagiaires ont pensé de leur expérience chez nous et comment cela les a aidés dans leur <strong>projet professionnel</strong>.</p>
			</div>
			<!-- / .row -->
		</div>
		<div class="row">
			<div class="col-md-6">
      <div class="row g-0 rounded-4 overflow-hidden flex-md-row mb-4 p-4 shadow h-md-250 position-relative" style="
    min-height: 200px;
">
       <h5 class="mb-0">Nom Prénom 🚀</h5> 
	   <blockquote>
								<p>
		<i>					<span class="me-1 small"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
  <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
</svg></span> 
										At weddings believed laughing although the Moonlight newspaper up its enjoyment agreeable depending.
									<span class="ms-1 small"><svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
  <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
</svg></span>
								</i>		</p>
							</blockquote>
      </div>
	  
    </div>
<div class="col-md-6">
      <div class="row g-0 rounded-4 overflow-hidden flex-md-row mb-4 p-4 shadow h-md-250 position-relative" style="
    min-height: 200px;
">
       <h5 class="mb-0">Nom Prénom 🚀</h5> 
	   <blockquote>
								<p>
		<i>					<span class="me-1 small"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
  <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
</svg></span> 
										At weddings believed laughing although the Moonlight newspaper up its enjoyment agreeable depending.
									<span class="ms-1 small"><svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
  <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
</svg></span>
								</i>		</p>
							</blockquote>
      </div>
	  
    </div>
		<div class="row mb-4 mt-4 pb-4 pt-4">
			<div class="text-center col-12">
				<a class="btn-primary" href="#form">Je veux bénéficier d'une formation experte<span></span>
				</a>
			</div>
			<!-- / .row -->
		</div>
	</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container">
		<div class="row align-items-center">
			<div
				class="col-12 col-md-5 col-lg-6 order-md-2">
				<!-- Image -->
				<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
			</div>
			<div
				class="col-12 col-md-7 col-lg-6 order-md-1">

				<!-- Heading -->
				<h2>
					Une équipe pour 
					<br>
					<span class="text-green">booster sa confiance en soi au travail</span>.
				</h2>
				<!-- Text -->
				<p class="mb-4">
					Notre centre de formation est engagé dans une mission importante : booster la <strong>confiance en soi au travail</strong>. Nous sommes convaincus que la <strong>confiance en soi</strong> est un élément clé de la <strong>réussite professionnelle</strong>, c'est pourquoi nous proposons la Prépa Projet, formation financée par la région Bretagne. <br>Cette formation vise à aider nos apprenants à développer leur confiance en eux et leur capacité à gérer des projets avec succès, tout en développant leurs <strong>compétences transversales</strong> pour leur carrière professionnelle et leur <strong>reconversion professionnelle</strong>. <br>Grâce à des exercices pratiques, des mises en situation et des feedbacks personnalisés, nous sommes convaincus que nos apprenants sortiront de cette formation plus forts et plus confiants dans leur capacité à relever les défis professionnels qui les attendent, pour atteindre leurs objectifs de réussite et d'<strong>épanouissement professionnel</strong>. <br>Nous sommes fiers de pouvoir contribuer à la réalisation d'une <strong>reconversion professionnelle réussie</strong> en offrant un accompagnement individualisé et personnalisé tout au long de la formation, avec un référent unique pour aider à élaborer un plan d'action sur mesure en adéquation avec les aspirations de chacun. 
					</p>

				<a class="btn-primary" href="#form">Je souhaite un accompagnement personnalisé <span></span>
				</a>

			</div>
		</div>
		<div class="row align-items-center">
			<div
				class="col-12 col-md-5 col-lg-6 order-md-1">
				<!-- Image -->
				<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
			</div>
			<div
				class="col-12 col-md-7 col-lg-6 order-md-2">

				<!-- Heading -->
				<h2>
					Vous aider dans votre projet pour de nouvelles
					
					<span class="text-green">opportunités professionnelles</span>.
				</h2>
				<!-- Text -->
				<p class="mb-4">
				Si vous cherchez à vous <strong>reconvertir professionnellement</strong>, il est essentiel de trouver un <strong>métier</strong> qui correspond à vos aspirations et à vos compétences .Dans notre organisme de formation, nous mettons tout en œuvre pour vous aider à réaliser votre projet de <strong>reconversion professionnelle</strong>. Nous proposons une variété d'ateliers, de stages et de rencontres avec des professionnels de différents métiers, afin que vous puissiez mieux connaître les réalités du terrain et acquérir des <strong>compétences clés</strong> pour votre future carrière. Nous sommes là pour vous offrir de nouvelles <strong>opportunités professionnelles</strong> et vous guider vers une reconversion réussie et épanouissante, en accord avec vos ambitions professionnelles et personnelles. Grâce à notre accompagnement individualisé, nous vous aidons à rédiger un projet sur mesure qui vous permettra de trouver votre <strong>voie professionnelle</strong> et d'atteindre vos <strong>objectifs de carrière</strong>. Notre objectif est de vous offrir une <strong>évolution professionnelle</strong> à court, moyen et long terme pour que vous puissiez vivre une carrière épanouissante et réussie. En somme, nous sommes là pour vous aider à trouver votre place sur le marché du travail et à vous épanouir dans votre vie professionnelle. 	
				</p>
				<a class="btn-primary" href="#form">Découvrir le métier qui me correspond<span></span>
				</a>
			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container p-5" style="box-shadow: 0 3.75rem 5rem 0 rgba(140,152,164,.3);min-height: 80%;">
		<ul class="tab center">
			<li class="tab-item active" data-tab="1">
				bénéficiaire
			</li>
			<li class="tab-item" data-tab="2">
				modalités d'enseignements
			</li>
			<li class="tab-item" data-tab="3">
				coût de formation
			</li>
			<li class="tab-item" data-tab="4">
				lieux
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-content-item active" data-tab="1">
				<div class="row align-items-center p-6">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">
						<!-- Image -->
						<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1">

						<!-- Heading -->
						<h4>
						Bénéficiaires.

						</h4>
						<!-- Text -->
						<p class="fs-lg text-gray-700 mb-6">
							<ul class="list">
							<li> Tout public intéressé par la formation professionnelle continue</li>
<li>Personnes en recherche d'emploi, notamment celles en situation de reconversion professionnelle </li>
<li>Salarié·e·s souhaitant développer leurs compétences ou se réorienter professionnellement</li>
<li>Personnes inscrites à Pôle Emploi</li>
<li>Personnes non inscrites à Pôle Emploi souhaitant améliorer leur employabilité</li>
<li>Personnes souhaitant bénéficier d'une formation financée par leur employeur ou un organisme paritaire collecteur agréé (OPCA)</li>
<li>Jeunes en insertion professionnelle</li>
							</ul>

									</p>

					</div>
				</div>
			</div>
			<div class="tab-content-item" data-tab="2">
			<div class="row align-items-center p-6">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">
						<!-- Image -->
						<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1">

						<!-- Heading -->
						<h4>
						Modalités d'enseignements.

						</h4>
						<!-- Text -->
						<p class="fs-lg text-gray-700 mb-6">
							<ul class="list">
							<li> Le parcours personnalisé dure entre 14 heures et 6 mois, avec une interruption possible pour une plus grande flexibilité et adaptabilité aux besoins des bénéficiaires.</li>
<li>Les ateliers se déroulent en groupe et les rendez-vous sont individuels, offrant ainsi un travail en groupe et un coaching personnalisé. </li>
<li>Les bénéficiaires ont la possibilité de suivre la formation en temps plein ou en temps partiel, en présentiel ou à distance selon leurs contraintes et leurs préférences.</li>
<li>Les ateliers permettent de travailler les compétences transversales et d'explorer différents métiers pour une meilleure orientation professionnelle. </li>
<li>Des stages et des immersions en entreprise ou en organisme de formation permettent aux bénéficiaires de mettre en pratique les compétences acquises et d'acquérir une expérience professionnelle. </li>
<li>Un plan d'actions personnels est élaboré pour chaque bénéficiaire afin de définir un projet individuel avec des objectifs de carrière clairs et un accompagnement personnalisé.</li>
							</ul>

									</p>

					</div>
				</div>
			</div>
			<div class="tab-content-item" data-tab="3">
				<div class="row align-items-center p-6">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">
						<!-- Image -->
						<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1">

						<!-- Heading -->
						<h4>
						Coût de formation.

						</h4>
						<!-- Text -->
						<p class="fs-lg text-gray-700 mb-6">
							La prise en charge financière de la formation est assurée par la Région Bretagne, qui s'engage à soutenir les projets de formation professionnelle des différents publics éligibles tels que :
							<ul class="list">
							<li>Les demandeurs d'emploi.</li>
							<li>Les salariés en reconversion professionnelle.</li>
							<li>Les jeunes diplômés. </li>
							<li>Les travailleurs indépendants. </li>
							</ul><br>
							Cette initiative s'inscrit dans une démarche de développement de compétences, d'amélioration de l'employabilité et de promotion de la formation tout au long de la vie, en vue de répondre aux besoins du marché de l'emploi en Bretagne.
						</p>

					</div>
				</div>
			</div>
			
			<div class="tab-content-item" data-tab="4">
				<div class="row align-items-center p-6">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">
						<!-- Image -->
						<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1">

						<!-- Heading -->
						<h4>
						Lieux.

						</h4>
						<!-- Text -->
						<p class="fs-lg text-gray-700 mb-6">
							Notre formation est dispensée dans plusieurs lieux en Bretagne pour répondre aux besoins des candidats, notamment à  :
							<ul class="list">
							<li>Brest,</li>
							<li>Pont-de-Buis,</li>
							<li>Landerneau,</li>
							<li>Lorient,</li>
							<li>Quimperlé,</li>
							<li>Quimper,</li>
							<li>Douarnenez,</li>
							<li>Pont l'Abbé,</li>
							<li>Concarneau.</li>
							</ul>	</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container">
		<div class="row mb-4 mt-4 pb-4 pt-4">
			<div class="text-center col-12">
				<h2>Notre expertise et notre savoir-faire</h2>
				<p>Recevez toute l'aide nécessaire à la réalisation de votre projet de manière efficace et professionnelle, grâce à notre expertise et savoir faire.</p>
			</div>
			<!-- / .row -->
		</div>
		<div class="row">
			<div
				class="text-center col-12 col-md-4 aos-init aos-animate" data-aos="fade-up">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h5>
					Des formateurs experts en réorientation et <strong>reconversion professionnelle</strong>
				</h5>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
				Nos formateurs vous accompagnent dans votre <strong>projet professionnel</strong>, avec leur expertise sur le <strong>monde du travail</strong> pour vous aider à atteindre vos objectifs. Vous bénéficiez d'un encadrement de qualité pour votre <strong>reconversion professionnelle</strong>.	
				</p>

			</div>
			<div
				class="text-center col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h5>
					Une <strong>écoute attentive</strong> et une <strong>adaptation à vos besoins</strong>
				</h5>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
				A l'IBEP, nous sommes à l'écoute pour vous accompagner efficacement dans votre <strong>projet de réorientation</strong> ou de <strong>reconversion professionnelle</strong>. Notre équipe personnalisera votre parcours en fonction de vos besoins et contraintes, en croyant en la valeur de notre écoute attentive pour assurer votre <strong>réussite professionnelle</strong>.</p>

			</div>
			
			<div
				class="text-center col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h5>
					Une expertise en <strong>dépassement de soi</strong>
				</h5>

				<!-- Text -->
				<p class="text-muted mb-0">
				Notre centre de formation vous offre une expertise en <strong>développement de soi</strong> pour votre <strong>reconversion professionnelle</strong>. Nous vous proposons également un <strong>coaching personnalisé</strong> afin d'atteindre vos objectifs. Nos formateurs expérimentés vous guident tout au long de votre parcours de formation.
				</p>

			</div>
		</div>
		<div class="row mb-4 mt-4 pb-4 pt-4">
			<div class="text-center col-12">
				<a class="btn-primary" href="#form">Je veux bénéficier d'une formation experte<span></span>
				</a>
			</div>
			<!-- / .row -->
		</div>
	</section>
	<section class="pt-5 pb-5 mt-5 mb-5" id="form">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-6 order-md-2">

					{{ form_start(form, {'attr' : {'action': path("landing_page_mailer")}}) }}
					<div class="formbg-outer" style="float:right; margin-left: auto;margin-right: auto;">
						<div class="formbg" style="box-shadow:0 3.75rem 5rem 0 rgba(140,152,164,.3)!important">
							<div class="formbg-inner padding-horizontal--48">
								<form id="stripe-login">
									<div class="field">
										<div class="field field-50">
											<label for="firstname">{{ form_label(form.firstname) }}</label>
											{{ form_widget(form.firstname) }}
										</div>
										<div class="field field-50">
											<label for="lastname">{{ form_label(form.lastname) }}</label>
											{{ form_widget(form.lastname) }}
										</div>
									</div>

									<div class="field padding-bottom--24">
										<label for="email">{{ form_label(form.email) }}</label>
										{{ form_widget(form.email) }}
									</div>
									<div class="field padding-bottom--24">
										<label for="phone">{{ form_label(form.phone) }}</label>
										{{ form_widget(form.phone) }}
									</div>
									<div class="field padding-bottom--24">
										<label for="sites">{{ form_label(form.sites) }}</label>
										{{ form_widget(form.sites) }}
									</div>


									<div class="field padding-bottom--24">
										{{ form_widget(form.submit) }}
									</div>
								</form>
							</div>
						</div>
					</div>
					{{ form_end(form) }}</body>
			{% endblock %}
		</div>
		<div
			class="col-12 col-md-6">

			<!-- Heading -->
			<h2>
				Nous croyons en votre potentiel et nous sommes là pour vous aider à réussir.
				<br>
				<span class="text-green">N'hésitez pas à nous contacter</span>.
			</h2>
			<!-- Text -->
			<p class="mb-4">
			Notre équipe est entièrement dévouée à votre réussite et sera à votre disposition pour répondre à toutes vos questions et vous accompagner tout au long de votre parcours.
			</p>


		</div>
	</div>
</div></section>
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary"><img src="img/logo_IBEP.svg" style="height: 80px;" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 " alt="..."></span>
  </div>
</footer>