<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">

</head>
{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ asset('js/tab.js') }}"></script>
	<script src="{{ asset('js/navbar.js') }}"></script>

{% endblock %}
<style></style>
{% block body %}
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container">
				<a class="navbar-brand" href="#"><img src="img/logo_IBEP.svg" style="height: 80px;" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 " alt="..."></a>
				<div class="d-flex">
					<a class="btn-primary" href="#form" >Obtenez plus de conseils pour booster votre carrière<span></span>
					</a>
				</div>
			</div>

		</nav>
		<section class="pt-5 pb-5 pt-md-11">
			<div class="container">
				<div class="row align-items-center">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">

						<!-- Image -->
						<img src="img/illustration_header.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

						<!-- Heading -->
						<h1 class="display-3 text-center text-md-start">
							Trouvez votre voie
																																																																																																																																																																																																																																dans le monde professionnel
																																																																																																																																																																																																																																avec Prépa Projet.
						</h1>

						<!-- Text -->
						<p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
							Un accompagnement personnalisé pour vous aider à naviguer dans le monde professionnel complexe.
						</p>

						<!-- Buttons -->
						<div class="text-center text-md-start">
							<a class="btn-primary" href="#form">Obtenez plus de conseils pour booster votre carrière<span></span>
							</a>
						</div>
						<p class="my-4" style="text-transform: uppercase;">
							We've built well over a dozen Bootstrap themes and sold tens of thousands of copies.

							<ul class="list">
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit 2</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>


						</p>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-auto col-sm-3 col-sm py-3">
						Prestation financée par la Région Bretagne
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-auto">
						<img class="" style="width: 22.5rem; height: auto;  border-radius: 0;" src="img/logo_prepa_projet.png" alt="logo_prepa_projet">
					</div>
					<!-- End Col -->

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</body>
</section>
<section class="pt-5 pb-5 mt-5 mb-5 pt-md-11 green" style="background-color: #93b28e;">
	<div class="container">
		<div class="p-4 p-sm-10">
			<div class="ratio ratio-16x9">
				<iframe class="img-fluid rounded-2 shadow-xl" src="https://www.youtube.com/embed/KXju7qwhF8w?controls=0" title="Prépa Projet présentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container">
		<div class="row align-items-center">
			<div
				class="col-12 col-md-5 col-lg-6 order-md-2">
				<!-- Image -->
				<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
			</div>
			<div
				class="col-12 col-md-7 col-lg-6 order-md-1">

				<!-- Heading -->
				<h2>
					Stay focused on your business.
					<br>
					<span class="text-primary">Let us handle the design</span>.
				</h2>
				<!-- Text -->
				<p class="mb-4">
					You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
				</p>

				<a class="btn-primary" href="#form">Obtenez plus de conseils pour booster votre carrière<span></span>
				</a>

			</div>
		</div>
		<div class="row align-items-center">
			<div
				class="col-12 col-md-5 col-lg-6 order-md-1">
				<!-- Image -->
				<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
			</div>
			<div
				class="col-12 col-md-7 col-lg-6 order-md-2">

				<!-- Heading -->
				<h2>
					Stay focused on your business.
					<br>
					<span class="text-primary">Let us handle the design</span>.
				</h2>
				<!-- Text -->
				<p class="mb-4">
					You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
				</p>
				<a class="btn-primary" href="#form">Obtenez plus de conseils pour booster votre carrière<span></span>
				</a>
			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container p-5" style="box-shadow: 0 3.75rem 5rem 0 rgba(140,152,164,.3);min-height: 80%;">
		<ul class="tab center">
			<li class="tab-item active" data-tab="1">
				bénéficiaire
			</li>
			<li class="tab-item" data-tab="2">
				modalités d'enseignements
			</li>
			<li class="tab-item" data-tab="3">
				coût de formation
			</li>
			<li class="tab-item" data-tab="4">
				taille des ateliers
			</li>
			<li class="tab-item" data-tab="5">
				lieux
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-content-item active" data-tab="1">
				<div class="row align-items-center">
					<div
						class="col-12 col-md-5 col-lg-6 order-md-2">
						<!-- Image -->
						<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
					</div>
					<div
						class="col-12 col-md-7 col-lg-6 order-md-1">

						<!-- Heading -->
						<h2>
							Stay focused on your business.
							<br>
							<span class="text-primary">Let us handle the design</span>.
						</h2>
						<!-- Text -->
						<p class="fs-lg text-gray-700 mb-6">
							You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
						</p>

					</div>
				</div>
			</div>
			<div class="tab-content-item" data-tab="2">
				Contenu de l'onglet 2
			</div>
			<div class="tab-content-item" data-tab="3">
				Contenu de l'onglet 3
			</div>
			<div class="tab-content-item" data-tab="4">
				Contenu de l'onglet 4
			</div>
			<div class="tab-content-item" data-tab="5">
				Contenu de l'onglet 5
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5 mt-5 mb-5">
	<div class="container">
		<div class="row mb-4 mt-4 pb-4 pt-4">
			<div class="text-center col-12">
				<h3>Documentation for everything</h3>
				<p>You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.</p>
			</div>
			<!-- / .row -->
		</div>
		<div class="row">
			<div
				class="text-center col-12 col-md-3 aos-init aos-animate" data-aos="fade-up">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h4>
					Built for developers
				</h4>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
					Landkit is built to make your life easier. Variables, build tooling, documentation, and reusable components.
				</p>

			</div>
			<div
				class="text-center col-12 col-md-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h4>
					Designed to be modern
				</h4>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
					Designed with the latest design trends in mind. Landkit feels modern, minimal, and beautiful.
				</p>

			</div>
			<div
				class="text-center col-12 col-md-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h4>
					Documentation for everything
				</h4>

				<!-- Text -->
				<p class="text-muted mb-0">
					We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
				</p>

			</div>
			<div
				class="text-center col-12 col-md-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<img src="img/illustration_header.png" alt="..." class="img-fluid mb-6 mb-md-0">
				</div>

				<!-- Heading -->
				<h4>
					Documentation for everything
				</h4>

				<!-- Text -->
				<p class="text-muted mb-0">
					We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
				</p>

			</div>
		</div>
		<div class="row mb-4 mt-4 pb-4 pt-4">
			<div class="text-center col-12">
				<a class="btn-primary" href="#form">Obtenez plus de conseils pour booster votre carrière<span></span>
				</a>
			</div>
			<!-- / .row -->
		</div>
	</section>
	<section class="pt-5 pb-5 mt-5 mb-5" id="form">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-6 order-md-2">

					{{ form_start(form, {'attr' : {'action': path("landing_page_mailer")}}) }}
					<div class="formbg-outer" style="float:right; margin-left: auto;margin-right: auto;">
						<div class="formbg" style="box-shadow:0 3.75rem 5rem 0 rgba(140,152,164,.3)!important">
							<div class="formbg-inner padding-horizontal--48">
								<form id="stripe-login">
									<div class="field">
										<div class="field field-50">
											<label for="firstname">{{ form_label(form.firstname) }}</label>
											{{ form_widget(form.firstname) }}
										</div>
										<div class="field field-50">
											<label for="lastname">{{ form_label(form.lastname) }}</label>
											{{ form_widget(form.lastname) }}
										</div>
									</div>

									<div class="field padding-bottom--24">
										<label for="email">{{ form_label(form.email) }}</label>
										{{ form_widget(form.email) }}
									</div>
									<div class="field padding-bottom--24">
										<label for="phone">{{ form_label(form.phone) }}</label>
										{{ form_widget(form.phone) }}
									</div>
									<div class="field padding-bottom--24">
										<label for="sites">{{ form_label(form.sites) }}</label>
										{{ form_widget(form.sites) }}
									</div>


									<div class="field padding-bottom--24">
										{{ form_widget(form.submit) }}
									</div>
								</form>
							</div>
						</div>
					</div>
					{{ form_end(form) }}</body>
			{% endblock %}
		</div>
		<div
			class="col-12 col-md-6">

			<!-- Heading -->
			<h2>
				Stay focused on your business.
				<br>
				<span class="text-primary">Let us handle the design</span>.
			</h2>
			<!-- Text -->
			<p class="mb-4">
				You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
			</p>


		</div>
	</div>
</div></section>
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary"><img src="img/logo_IBEP.svg" style="height: 80px;" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 " alt="..."></span>
  </div>
</footer>