<p>Bonjour,</p>
<p>M. ou Mme {{firstname}}  {{lastname}} présente un intérêt pour la prestation Prepa Projet sur le site de {{site}}</p>

<br>
<p>Voici ses coordonnées :</p>

<p>E-mail : {{emailUser}}</p>
<p>Téléphone : {{phone}}</p>